.container{
    margin-top: 20vh;

    .box{
        width: 600px;
        background-color: rgb(28, 28, 36);
        color: white;

        .time-box{
            margin-top: -30px;
            background-color: rgb(141, 136, 66);
        }

        .icon{
            width: 120px;
        }

        .icon-info{
            margin-left: 5px;
        }
    }
}

@media screen and (max-width: 575px) {
    .icon{
        width: 100%!important;
    }
    .icon-info{
        width: 100%!important;
        text-align:start;
    }
  }