<main> 
    <div  class="container">
        <div class="d-flex justify-content-center">
            <div class="box border rounded-3 p-3"
                    >
                <!-- [ngStyle]="color?{'background-color': 'white'}" -->
                <div class="time-box float-end border rounded-pill p-2">
                    {{ hours }}:{{ minutes }}
                </div>
                <div class="main text-center">
                    <svg-icon
                        src="/assets/images/15783382081579547660.svg" 
                        [svgStyle]="{ 'width.px':80, 'height.px':80 }">
                    </svg-icon>
                    <h3>London, UK</h3>
                    <h6>15C | Drizzle</h6>
                </div>
                <div class="date-info text-center row mt-5">
                    <div class="date col-sm ">
                        <h3>Tuesday</h3>
                        <h6>15-Jan-2021</h6>
                    </div>
                    <div class="info col-sm ">
                        <h6>50%</h6>
                        <h6>1.0MM</h6>
                        <h6>20km/h</h6>
                        <h6>SE</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



<button (click)="getResult()">click</button>