<main [style.background-color] = "hasError ? 'black': 'white'"> 
    <div  class="container">
        <div class="d-flex justify-content-center"
            [style.color] = "hasError ?  'white': 'black'">
            <div 
                [style.background-color] = "hasError ? 'black': 'white'"
                class="box border rounded-3 p-3"
                    >
                <!-- [ngStyle]="color?{'background-color': 'white'}" -->
                <div class="time-box float-end border rounded-pill p-2">
                    {{today | date:'mediumTime'}}
                </div>
                <div class="main text-center">
                    <svg-icon
                        style="margin-left: 50px!important;"
                        src="/assets/images/15783382081579547660.svg" 
                        [svgStyle]="{ 'width.px':80, 'height.px':80 }">
                    </svg-icon>
                    <h3>{{ _weatherByLocation.citiName }}, {{ _weatherByLocation.countryIndex.country}}</h3>
                    <h6>{{ _weatherByLocation.main.temp }} | {{ _weatherByLocation.weather[0].description }} </h6>
                </div>
                <div class="date-info text-center row mt-5">
                    <div class="date col-sm ">
                        <h3>{{ currentDay }}</h3>
                        <h6>{{today | date:'longDate'}}</h6>
                        
                    </div>
                    <div class="info col-sm ">
                        <div class="d-flex ">
                            <div class="icon " >
                                <div class="float-end">
                                    <svg-icon
                                        src="/assets/images/cloudy.svg" 
                                        [svgStyle]="{ 'width.px':35, 'height.px':35 }">
                                    </svg-icon>
                                </div>
                            </div>
                            <div class="icon-info float-start">
                                <h6 class="mt-2">{{ _weatherByLocation.clouds.all }}%</h6>
                            </div>
                        </div>
                        <div class="d-flex ">
                            <div class="icon " >
                                <div class="float-end">
                                    <svg-icon
                                        src="/assets/images/raining.svg" 
                                        [svgStyle]="{ 'width.px':35, 'height.px':35 }">
                                    </svg-icon>
                                </div>
                            </div>
                            <div class="icon-info ">
                                <h6 class="mt-2">MM</h6>
                            </div>
                        </div>
                        <div class="d-flex ">
                            <div class="icon" >
                                <div class="float-end">
                                    <svg-icon
                                        src="/assets/images/wind.svg" 
                                        [svgStyle]="{ 'width.px':35, 'height.px':35 }">
                                    </svg-icon>
                                </div>
                            </div>
                            <div class="icon-info ">
                                <h6 class="mt-2">{{ _weatherByLocation.wind.speed }} KM/H</h6>
                            </div>
                        </div>
                        <div class="d-flex ">
                            <div class="icon " >
                                <div class="float-end">
                                    <svg-icon
                                        src="/assets/images/navigation.svg" 
                                        [svgStyle]="{ 'width.px':35, 'height.px':35 }">
                                    </svg-icon>
                                </div>
                            </div>
                            <div class="icon-info ">
                                <h6 class="mt-2">{{ _weatherByLocation.wind.deg }} </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<!-- {{ _weatherByLocation.rain.1h }} -->