.container{
    margin-top: 20vh;

    .box{
        width: 600px;
        background-color: rgb(28, 28, 36);
        color: white;

        .time-box{
            margin-top: -30px;
            background-color: rgb(141, 136, 66);
        }
    }
}