.container-fluid{
    padding: 0;
}
.days{
    background-color: rgb(45, 49, 53);

    ul{
        border-bottom: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    a{
        color: white;
    }
}

.container{
    margin-top: 20vh;

    .box{
        width: 600px;
        background-color: rgb(28, 28, 36);
        color: white;
        box-shadow: 5px 5px 8px 5px #0a0a0a;
        .day{
            background-color: rgb(33, 33, 44);
            // margin-left: -20px;
            // width: 600px;
        }
    }
}