
<div class="container-fluid">
    <div class="days">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">TODAY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">SAT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">SUN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">MON</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="#">TUE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">WED</a>
            </li>
          </ul>
    </div>
</div>


<div class="container">
        <div class="d-flex justify-content-center">
            <div class="box border rounded-3 p-3 " >
                    <div class="day">
                        <h3>FRIDAY</h3>
                    </div>
                    <div class="date-info d-flex flex-column mt-5">
                        <div class="row">
                            <div class="col-2">icon</div>
                            <div class="col-10">
                                <div class="d-flex justify-content-between">
                                    <div class="time">13:00</div>
                                    <div class="temperature">15C</div>
                                </div>
                                <hr/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">icon</div>
                            <div class="col-10">
                                <div class="d-flex justify-content-between">
                                    <div class="time">16:00</div>
                                    <div class="temperature">15C</div>
                                </div>
                                <hr/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">icon</div>
                            <div class="col-10">
                                <div class="d-flex justify-content-between">
                                    <div class="time">19:00</div>
                                    <div class="temperature">15C</div>
                                </div>
                                <hr/>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
</div>
